@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Cairo:wght@300;400;500;600;700;800&family=Tajawal:wght@300;400;500;700;800&display=swap');

body {
  font-family: 'Inter', 'Cairo', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-cairo {
  font-family: 'Cairo', sans-serif;
}

.font-tajawal {
  font-family: 'Tajawal', sans-serif;
}
